@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "EoT - Questionnaires";
}

@Scripts.Render("~/Scripts/app/questionnaires.js")


<section class="services">
	<div class="container">
		<div class="row carousel-container" style="text-align: left !important">
			<div class="col-lg-8 col-md-8">
				<div class="icon-box" data-aos="zoom-in-center" data-aos-delay="300">
					<div id="divQuestionPart1" class="col-md-12">
						<div class="col-8 ml-3">
							<h4 class="animate__animated animate">Questionnaires</h4>
						</div>
						<div class="col-12">
							<div class="input-group mb-3 mt-2">
								<label class="col-md-4 col-md-offset-4 fw-bold">1. DOB: </label>
								<input type="date" class="form-control mt-n1 col-md-6 col-md-offset-6" id="txtDateOfBirth">
							</div>
							<div class="input-group mb-3 mt-5">
								<label class="col-md-4 col-md-offset-4 fw-bold">2. Gender: </label>
								<div class="col-lg-6 col-md-6">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="radGender" id="radGenderMale" value="Male" checked>
										<label class="form-check-label" for="radGenderMale">
											Male
										</label>
									</div>
									<div class="form-check ml-5 form-check-inline">
										<input class="form-check-input" type="radio" name="radGender" id="radGenderFemale" value="Female">
										<label class="form-check-label" for="radGenderFemale">
											Female
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="divQuestionPart2" class="col-md-12">
						<div class="col-8 ml-3">
							<h4>Questionnaires</h4>
						</div>
						<div class="col-12">
							<label class="col-md-10 col-md-offset-10 fw-bold">3. What is your height and weight?: </label>
							<div class="input-group-vertical ml-4 mt-3" role="group">
								<div class="input-group mb-3">
									<label class="col-md-4 col-md-offset-4 fw-bold">Height: </label>
									<input type="number" class="form-control mt-n1 col-md-4 col-md-offset-4" id="txtHeight">
									<label>&nbsp;cm</label>
								</div>
								<div class="input-group mb-3">
									<label class="col-md-4 col-md-offset-4 fw-bold">Weight: </label>
									<input type="number" class="form-control mt-n1 col-md-4 col-md-offset-4" id="txtWeight">
									<label>&nbsp;kg</label>
								</div>
								<div class="input-group mb-3">
									<label class="col-md-4 col-md-offset-4 fw-bold">Calculated BMI: </label>
									<input type="number" class="form-control mt-n1 col-md-4 col-md-offset-4" id="txtCalculatedBMI">
									<label>&nbsp;kg/m<sup>2</sup></label>
								</div>
							</div>
						</div>
					</div>

					<div id="divQuestionPart3" class="col-md-12">
						<div class="col-8 ml-3">
							<h4>Questionnaires</h4>
						</div>
						<div class="form-group">
							<label class="col-md-8 col-md-offset-8 fw-bold text-wrap">4. Are you, your parent, sibling or child diagnosed with Type 2 diabetes? </label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="radType2diabetes" id="radType2diabetesYes" value="Yes" />
								<label class="form-check-label" for="radType2diabetesYes">Yes</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="radType2diabetes" id="radType2diabetesNo" value="No" />
								<label class="form-check-label" for="radType2diabetesNo">No</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-8 col-md-offset-8 fw-bold text-wrap">5. Are you a smoker? </label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="radSmoker" id="radSmokerYes" value="Yes" />
								<label class="form-check-label" for="radSmokerYes">Yes</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="radSmoker" id="radSmokerNo" value="No" />
								<label class="form-check-label" for="radSmokerNo">No</label>
							</div>
						</div>
					</div>

					<div id="divQuestionPart4" class="col-md-12">
						<div class="col-8 ml-3">
							<h4>Questionnaires</h4>
						</div>
						<div class="form-group">
							<label class="col-md-8 col-md-offset-8 fw-bold text-wrap">6. Have you been diagnosed with high blood pressure(hypertension)? </label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="radBloodPressure" id="radBloodPressureYes" value="Yes" />
								<label class="form-check-label" for="radBloodPressureYes">Yes</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="radBloodPressure" id="radBloodPressureNo" value="No" />
								<label class="form-check-label" for="radBloodPressureNo">No</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-8 col-md-offset-8 fw-bold text-wrap">7. Any other known health conditions? </label>
							<textarea class="form-control text-wrap" id="txtOtherHealthConditions" rows="3"></textarea>
						</div>
						<div class="form-group">
							<label class="col-md-8 col-md-offset-8 fw-bold text-wrap">8. Your email address? </label>
							<input type="text" class="form-control mt-n1 col-md-12 col-md-offset-6" id="txtEmailAddress">
						</div>
					</div>

					<div id="divQuestionPart5" class="col-md-12">
						<div class="form-group">
							<h3 class="col-md-8 col-md-offset-8 fw-bold text-wrap">
								Your personal profile is setup!
							</h3>
						</div>
						<div class="form-group mt-5">
							<label class="col-md-8 col-md-offset-8 fw-bold text-wrap">
								You may always update your details under Profile of your health report dashboard.
							</label>
						</div>
						<div class="form-group mt-5">
							<label class="col-md-8 col-md-offset-8 fw-bold text-wrap">
								Let's get started with your health monitoring!
							</label>
						</div>
					</div>

					<div class="row d-flex justify-content-center text-center">
						<div class="col-12">
							<button type="button" class="btn btn-secondary" id="btnQuestionnairesNext">Next</button>
						</div>
						<div class="col-12">
							<button type="button" class="btn btn-primary" id="btnQuestionnairesDone">Done</button>
						</div>
						<div class="col-12">
							<button type="button" class="btn btn-secondary" id="btnQuestionnairesNext1" onclick="location.href= '@Url.Action("Payment", "Payment")';return false;">Next</button>
						</div>
					</div>

					<div class="row d-flex justify-content-center text-center" id="divProcessingRadios">
						<div class="col-12">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="inlineRadio1" value="option1" disabled checked />
							</div>

							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="inlineRadio2" value="option2" disabled />
							</div>

							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="inlineRadio3" value="option3" disabled />
							</div>

							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="inlineRadio4" value="option3" disabled />
							</div>
						</div>
					</div>

					<div class="row d-flex justify-content-center text-center mt-3 mb-n4">
						<div class="col-12">
							<p class="fs-6 text-muted" style="font-size: 8px !important">Adapted from the Diabetes Risk Assessment(2018). Ministry of Health, Singapore.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>