@{
	ViewBag.Title = "EoT - Choose Language";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Styles.Render("~/Content/assets/css/chooselanguage.css")*@

<section class="services">
	<div class="container">
		<div class="row carousel-container">
			<div class="col-lg-8 col-md-8">
				<div class="icon-box" data-aos="zoom-in-center" data-aos-delay="300">
					<h4 class="animate__animated animate">Choose your language.</h4>
					<div class="row mt-4">
						<div class="col-md-3 col-md-offset-3">
							<button type="button" class="w-100 btn btn-outline-info m-2" onclick="location.href='@Url.Action("PhoneNumber", "Home")';return false;">English</button>
						</div>
						<div class="col-md-3 col-md-offset-3">
							<button type="button" class="w-100 btn btn-outline-info m-2" onclick="location.href= '@Url.Action("PhoneNumber", "Home")';return false;">中文</button>
						</div>
						<div class="col-md-3 col-md-offset-3">
							<button type="button" class="w-100 btn btn-outline-info m-2" onclick="location.href= '@Url.Action("PhoneNumber", "Home")';return false;">Malay</button>
						</div>
						<div class="col-md-3 col-md-offset-3">
							<button type="button" class="w-100 btn btn-outline-info m-2" onclick="location.href= '@Url.Action("PhoneNumber", "Home")';return false;">தமிழ்</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>