@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/app/index.js"></script>

<section class="services">
	<div class="container">
		<div class="row carousel-container">
			<div class="col-lg-8 col-md-8">
				<div class="icon-box" data-aos="zoom-in-center" data-aos-delay="300">
					<h4 class="animate__animated animate">Eyes of Truth</h4>
					<h7 class="animate__animated animate">Bringing vision to your health</h7>

					<div class="col-md-12 mt-1 servicessection" style="background-color: #f5f5f5;">
						<div class="col-md-4 ml-n5">
							<label class="mt-2" style="text-align:left !important">Our Services</label>
						</div>
						<p class="text-muted mt-2" style="font-size:12px; text-align:center">
							Click to find more!.
						</p>
					</div>

					<div class="row mt-4">
						<div class="col-md-6 col-md-offset-6">
							<button type="button" class="w-100 btn btn-get-started m-2" id="btnBooked">I have an appointment!</button>
						</div>
						<div class="col-md-6 col-md-offset-6">
							<button type="button" class="w-100 btn btn-get-started m-2" id="btnMakeBooking">Make a booking!</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
